<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RoomBooking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F3249A31EFB7F4D00BA347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F3249B71EFB7F4D00BA347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F3249C21EFB7F4D00BA347B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
